.remove-img {
    margin-bottom: 5px;
    margin-top: 4px;
}

section table.table-hover tbody tr {
    cursor: pointer;
}

.navbar-brand img {
    max-height: 42px;
}

.navbar-left {
    margin-left: 15px;
}

.homepage .navbar {
    margin-bottom: 50px;
}

.login-form h1 {
    margin-bottom: 25px!important;
}

.homepage .alert {
    margin-top: -25px;
    margin-bottom: 50px;
}

.page-header {
    margin-bottom: 25px;
}

.homepage .card-title {
    position: relative;
    top: 7px;
}

.homepage .img-thumbnail {
    height: 169px;
    width: 100%;
    object-fit: cover;
}

.homepage .performances .card {
    margin-bottom: 30px;
}

.homepage .performances a {
    color: #444444;
}

.homepage .performances a:hover {
    text-decoration: none;
}

.hall {
    background: rgba(0,0,0,0.1);
    position: relative;
    user-select: none;
}

.hall .seat {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.hall .seat.ordered {
    color: transparent;
    cursor: not-allowed;
}

.hall.hall-static .seat {
    cursor: default!important;
}

.hall.hall-static .seat.ordered:before, .hall.hall-static .seat.ordered:after {
    display: none;
}

.hall.hall-static .seat.ordered {
    background: #ff1a1a;
    color: #ffffff!important;
}

.hall .seat.ordered:before, .hall .seat.ordered:after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    height: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.hall .seat.ordered:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hall .seat.selected {
    background: #ff1a1a;
    color: #ffffff;
}

.hall .text {
    position: absolute;
}

#reservation fieldset {
    display: none;
}

.order-page .card {
    margin-top: 30px;
    margin-bottom: 15px;
}

.order-page .card p {
    margin: 0;
    line-height: 44px;
}

.hall {
    font-size: 0.8125rem;
}

.hall-center {
    margin-left: auto;
    margin-right: auto;
}
