.remove-img {
    margin-bottom: 5px;
    margin-top: 4px;
}

section table.table-hover tbody tr {
    cursor: pointer;
}

.navbar-brand img {
    max-height: 42px;
}

.navbar-left {
    margin-left: 15px;
}
