.remove-img {
    margin-bottom: 5px;
    margin-top: 4px;
}

section table.table-hover tbody tr {
    cursor: pointer;
}

.navbar-brand img {
    max-height: 42px;
}

.navbar-left {
    margin-left: 15px;
}

.homepage .navbar {
    margin-bottom: 50px;
}

.login-form h1 {
    margin-bottom: 25px!important;
}

.homepage .alert {
    margin-top: -25px;
    margin-bottom: 50px;
}

.page-header {
    margin-bottom: 25px;
}

.homepage .card-title {
    position: relative;
    top: 7px;
}

.homepage .img-thumbnail {
    height: 169px;
    width: 100%;
    object-fit: cover;
}

.homepage .performances .card {
    margin-bottom: 30px;
}

.homepage .performances a {
    color: #444444;
}

.homepage .performances a:hover {
    text-decoration: none;
}

.hall {
    background: rgba(0,0,0,0.1);
    position: relative;
}

.hall .seat {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 3px;
}

.hall .text {
    position: absolute;
}
